html {
    overflow: hidden;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    color: #cccccc;
    background: #111111;
}

#socials {
    position: absolute;
    top: 50%;
    right: 50%;
    transform: translate(50%,-50%);
}

.fa {
    padding: 5px;
    font-size: 30px;
    color: #cccccc;
}