body {
    overflow: hidden;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    color: #cccccc;
    background: #111111;
}

a {
    color: inherit;
}

#signature {
    position: absolute;
    top: 50%;
    right: 50%;
    transform: translate(50%,-50%);
}

#links {
    font-size: 25px;
}